body {
    margin: 55px 0 0 0;
    padding: 0;
    width: 100%;
    min-width: 250px;
    text-align: center;
  }
  
  h3 {
    margin-top: 0px;
    font-family: cursive;
    color: #3eca31;
    font-size: 5em;
  }
  
  h5 {
      margin-top: 0px;
      font-family: cursive;
      color: #3eca31;
      font-size: 1.8em;
  }
  
  .notebook {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    background-color: #fff0e4;
    background: linear-gradient(175deg, #000000, #000000);
    width: 1000px;
    height: 600px;
    box-shadow: 1px -1px 5px #555;
    border-top: 1px solid #946947;
  }
  
  .notebook:after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0px;
      height: 4px;
      width: 100%;
      background-size: 3px 1px;
      background-image: -webkit-radial-gradient(40% 100%, circle, transparent 20%, #946947 35%);
      background-image: -moz-radial-gradient(40% 100%, circle, transparent 20%, #946947 35%);
      background-image: -ms-radial-gradient(40% 100%, circle, transparent 20%, #946947 35%);
      background-image: -o-radial-gradient(40% 100%, circle, transparent 20%, #946947 35%);
      background-image: radial-gradient(40% 100%, circle, transparent 20%, #946947 35%);
  }
  
  .notebook:before{
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      height: 10px;
      width: 99%;
      background-size: 9px 12px;
      background-image: -webkit-radial-gradient(45% 80%, circle, transparent 70%, #555 20%);
      background-image: -moz-radial-gradient(45% 40%, circle, transparent 70%, #555 20%);
      background-image: -ms-radial-gradient(45% 40%, circle, transparent 70%, #555 20%);
      background-image: -o-radial-gradient(45% 40%, circle, transparent 70%, #555 20%);
      background-image: radial-gradient(circle at 5% 40%, transparent 70%, #555 20%);
  }