.carousel-wrapper{
  height:500px;
  position:relative;
  margin:0 auto;
  width: 80%;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('vegetables-set-left-black-slate.jpg');
  background-size:cover;
  }
.item-2{
  background:url('utensils1.jpg');
   background-size:cover;
}
.item-3{
  background:url('cleaning.jpg');
   background-size:cover;
}

.item-4{
  background:url('storage.jpg');
   background-size:cover;
}

.item-5{
  background:url('donation.jpg');
   background-size:cover;
}

.item-6{
  background:url('thrift.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 ,#item-4:target ~ .item-4,#item-5:target ~ .item-5,#item-6:target ~ .item-6 {
    z-index: 3;
    opacity: 1;
  }
  
  h6 {
    margin-top: 0px;
    font-family: cursive;
    color: #000000;
    font-size: 5em;
  }

  h3 {
    margin-top: 0px;
    font-family: cursive;
    color: #000000;
    font-size: 3em;
    padding:25px 50px;
  }

  h7{
    margin-top: 0px;
    font-family: cursive;
    color: #000000;
    font-size: 1em;
    text-align: center;
  }

  h8 {
    margin-top: 0px;
    font-family: cursive;
    color: #000000;
    font-size: 1.2em;
    padding:25px 675px;
  }

  h2 {
    margin-top: 0px;
    font-family: cursive;
    color: #ffffff;
    font-size: 1.2em;
   }
  
  h5 {
      margin-top: 0px;
      font-family: cursive;
      color: #ffffff;
      font-size: 0.8em;
  }

 h9 {
    margin-top: 0px;
    font-family: cursive;
    color: #ffffff;
    font-size: 0.8em;
}
